<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>EAT-F by Chunderella</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
        crossorigin="anonymous">

  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

  <link href="/css/notice/style.css" rel="stylesheet"> <!-- TODO 추가 - 2 같지만 수정 -->

  <!-- Core theme CSS (includes Bootstrap)--> <!-- TODO 추가 - 1 -->
  <link href="/css/notice/noticeStyles.css" rel="stylesheet"/>

</head>
<body>
<!-------------------------------구분선-------------------------->
<div class="b-example-divider"></div>
<!------------------------------header------------------------------>
<div th:replace="/common/header.html :: fragment-header"></div>
<!-------------------------------구분선-------------------------->
<div class="line-3"></div>
<div class="line-3"></div>
<!------------------------------nav------------------------------>
<div th:replace="/common/nav.html :: fragment-nav"></div>
<!-------------------------------구분선-------------------------->
<div class="a-example-divider"></div>
<!-- 부트스트랩 -->

<!-- 부트스트랩 왼쪽 사이드바 -->
<div class="d-flex" id="wrapper">
  <!-- Sidebar-->
  <div class="border-end bg-white" id="sidebar-wrapper">
    <div class="sidebar-heading border-bottom bg-light">
      <a th:href="@{/my/main}" style="text-decoration-line: none; color: inherit;">마이페이지</a>
    </div>
    <div class="list-group list-group-flush">
      <a class="list-group-item list-group-item-action list-group-item-light p-3" th:href="@{/my/myProfile}">개인 정보 수정</a>
      <a class="list-group-item list-group-item-action list-group-item-light p-3" th:href="@{/my/myPartyList}">파티게시물 관리</a>
      <a class="list-group-item list-group-item-action list-group-item-light p-3" th:href="@{/my/myFeedList}">피드게시물 관리</a>
      <a class="list-group-item list-group-item-action list-group-item-light p-3" th:href="@{/my/myEventList}">이벤트게시물 관리</a>
      <a class="list-group-item list-group-item-action list-group-item-light p-3"
         href="">예약 내역</a>
      <a class="list-group-item list-group-item-action list-group-item-light p-3"
         href="">팔로우 관리</a>
      <a class="list-group-item list-group-item-action list-group-item-light p-3"
         href="">1:1 문의 내역</a>
      <a class="list-group-item list-group-item-action list-group-item-light p-3"
         href="">주소지 관리</a>
    </div>
  </div>
  <!-- Page content wrapper-->
  <!-- 상세보기 -->
  <form th:action="@{/party/update}" method="post" enctype="multipart/form-data">
    <div class="container border rounded">
  
      <!--1줄-->
      <div class="row p-3">
        <div class="col-2"  th:text="'[' + ${party.meal} + '파티]'">
        </div>
        <div class="col-2" th:text="'[' + ${party.food} + ']'">
        </div>
        <div class="col-2">
        </div>
        <div class="col-2" th:text="'(3' + '/' + ${party.max} + ')'">
        </div>
  
        <div class="col-2">
          파티참여
        </div>
        <div class="col-2">
        <input name="no" type="number" value="1" th:value="${party.no}" readonly hidden/>
      </div>
    </div>
  
      <!--2줄-->
      <div class="row p-3">
        <div class="col" ><input name='title' type='text'value='제목'th:value="${party.title}">
        </div>
      </div>
  
      <!--3줄-->
      <div class="row p-3 border-bottom">
        <div class="col-2" th:text="${party.writer.nick}">
        </div>
        <div class="col-2" th:text=" '조회수:' + ${party.viewCnt}">
        </div>
        <div class="col-2" th:text=" '작성일:' + ${party.createDate}">
        </div>
      
      </div>
      
      <!--4줄-->
      <div class="row p-3 border-bottom">
        <div class="col">
          <textarea id='content' name='content' th:text="${party.content}"></textarea>
        </div>
      </div>
      <!--5줄-->
      <div class="row p-3">
        <div class="col">
          참여조건
        </div>
      </div>
      <!--6줄-->
      <div class="row p-3">
        <div class="col-3" th:text="'성별 : ' + '[' + ${party.gender} + ']'">
        </div>
        <div class="col-3" th:text="'연령대 : ' + '[' + ${party.age} + '대]'">
        </div>
      </div>
      <!--7줄-->
      <div class="row p-3">
        <div class="col" th:text="'[' + ${#dates.createNowForTimeZone(party.time)} + '시]'">
        </div>
      </div>
  
      <!--8줄-->
      <div class="row p-3">
        <div class="col-2"><p th:text="'장소명 : ' +'[' + ${party.location} + ']'"></p>
        </div>
        <div class="col-2" th:text="'주소 : ' +'[' + ${party.address} + ']'">
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-outline-secondary">변경</button>
    <button type="button" class="btn btn-outline-secondary"><a th:href="@{delete(no=${party.no})}">삭제</a></button>
    
  </form> 
  <!---------------------------- 상세보기 end ------------------------------>
</div>


<!-------------------------------구분선-------------------------->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous">
</script>

<!-- Core theme JS--> <!-- noticeList 왼쪽 사이드바 --> <!-- TODO 추가 - 6-->
<script src="/js/notice/notice.js"></script>

<!-- 서머노트 -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
<!-- 서머노트 end -->

<!-- 서머노트 -->
<script>
  $(document).ready(function() {
    $('textarea[name=content]').html('[[${party.content}]]')

    $('textarea[name=content]').summernote({
      toolbar:false,
      height: 600,
      width:1200,
      minHeight : null,
      maxHeight : null,
      disableDragAndDrop: true
    });

    $('textarea[name=content]').summernote('disable');
  });
</script>
<!-- 서머노트 end-->

</body>
</html>