<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>EAT-F by Chunderella</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

  <link href="/css/notice/style.css" rel="stylesheet"> <!-- TODO 추가 - 2 같지만 수정 -->

  <!-- Core theme CSS (includes Bootstrap)-->
  <!-- TODO 추가 - 1 -->
  <link href="/css/notice/noticeStyles.css" rel="stylesheet" />

</head>

<body>
  <!-------------------------------구분선-------------------------->
  <div class="b-example-divider"></div>
  <!------------------------------header------------------------------>
  <div th:replace="/common/header.html :: fragment-header"></div>
  <!-------------------------------구분선-------------------------->
  <div class="line-3"></div>
  <div class="line-3"></div>
  <!------------------------------nav------------------------------>
  <div th:replace="/common/nav.html :: fragment-nav"></div>
  <!-------------------------------구분선-------------------------->
  <div class="a-example-divider"></div>
  <!-- 부트스트랩 -->

  <!-- 부트스트랩 왼쪽 사이드바 -->
  <div class="d-flex" id="wrapper">
    <!-- Sidebar-->
    <div class="border-end bg-white" id="sidebar-wrapper">
      <div class="sidebar-heading border-bottom bg-light">
        <a th:href="@{/my/main}" style="text-decoration-line: none; color: inherit;">마이페이지</a>
      </div>
      <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action list-group-item-light p-3" th:href="@{/my/myProfile}">개인 정보
          수정</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" th:href="@{/my/myPartyList}">파티게시물
          관리</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" th:href="@{/my/myFeedList}">피드게시물
          관리</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="">참여내역</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="">예약 내역</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="">팔로우 관리</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="">1:1 문의 내역</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="">주소지 관리</a>
      </div>
    </div>

    <!-- Page content wrapper-->
    <div id="page-content-wrapper">
      <div class="container-fluid">
        <h2 class="mt-4">개인 정보 수정</h2>

        <div class="container border">
          <div class="row">
            <div class="col-12 border">
            <!-- 개인 상세 정보 -->
            <form action="update" id="updateForm" method="post">
            <table class="table table-hover">
              <tr>
                <th>번호</th>
                <td><input id="memberNo" name='no' type='number' data-th-value="${member.no}" readonly></td>
                </tr>
              <tr>
                <th>아이디</th>
                <td><input name='id' type='email' data-th-value="${member.id}" readonly></td>
              </tr>
              <tr>
                <th>이름</th>
                <td><input name='name' type='text' data-th-value="${member.name}"></td>
              </tr>
              <tr>
                <th>닉네임</th>
                <td><input name='nick' type='text' data-th-value="${member.nick}"></td>
              </tr>
              <tr>
                <th>현재 패스워드</th>
                <td>
                  <input id="currentPassword" name='currentPassword' type='password'>
                </td>
              </tr>
              <tr>
                <th>새 패스워드</th>
                <td><input id="newPassword" name='newPassword' type='password'></td>
              </tr>
              <tr>
                <th>새 패스워드 확인</th>
                <td><input id="newPasswordCheck" name='newPasswordCheck' type='password'></td>
              </tr>
            </table>
            <input type="hidden" id="password" name="password">
              <button type="button" id="updateBtn">회원 정보 수정</button>
              <button type="button" id="deleteBtn">회원 탈퇴</button>
          </form>
          </div>
        </div>
      </div>
      <!-- 테이블 부트스트랩 end -->
      </div>
    </div>
  </div>


  <!-------------------------------구분선-------------------------->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous">
    </script>

  <!-- Core theme JS-->
  <!-- noticeList 왼쪽 사이드바 -->
  <!-- TODO 추가 - 6-->
  <script src="/js/notice/notice.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
    crossorigin="anonymous"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <script>
    let currentPasswordCheck = false;

    // 현재 패스워드 체크 비동기처리
    $("#currentPassword").blur(function () {
      let password = $("#currentPassword").val();
      $.ajax({
        type: "POST",
        url: "/my/currentPassword",
        data: { "password": password },
        success: function (result) {
          console.log(result);
          if (result != 0) {
            console.log("패스워드 일치");
            currentPasswordCheck = true;
          } else {
            currentPasswordCheck = false;
          }
        },
      });
    });

    $("#newPasswordCheck").blur(function () {
      let newPassword = $("#newPassword").val();
      let newPasswordCheck = $("#newPasswordCheck").val();
      if (newPassword == newPasswordCheck) {
        console.log("새 패스워드 일치");
      } else {
        console.log("새 패스워드 불일치");
      }
    });

    $("#updateBtn").click(function () {
      if (currentPasswordCheck != false) {
        if ($("#newPassword").val() == '') {
          let currentPassword = $("#currentPassword").val();
          $("#password").attr("value", currentPassword);
          document.getElementById('updateForm').submit();
        } else {
          let newPassword = $("#newPassword").val();
          $("#password").attr("value", newPassword);
          document.getElementById('updateForm').submit();
        }
        console.log($("#password").val());
        console.log(currentPasswordCheck);
      } else {
        Swal.fire({
          icon: 'error',
          title: '현재 비밀번호를 입력해주세요',
<!--          text: 'Something went wrong!'-->
        });
      };
    });

    $("#deleteBtn").click(function () {
      let memberNo = $("#memberNo").val();
      $.ajax({
        type: "post",
        url: "/my/delete",
        data: {"no": memberNo}, // 파라미터 :  파라미터 값
        success: function (result) {
          console.log(result);
          window.location.href="/";
        }
      })
    });

  </script>
</body>

</html>