<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div id="event-board" th:fragment="fragment-eventindex" >
    <div class="container text-center">
        <div class="row">
            <div class="col-9 ">
                <div class="row row-cols-4 ">
                    <div class="col border rounded bg-white" th:each="event : ${events}">
                        <div id="card card-cover border p-3">

                            <div class="header p-1">
                                <div class="row">
                                    <div class="col">
                                        <h3 class="card-haeder" th:text="'['+ ${event.title} + ']'"></h3>
                                    </div>
                                </div>


                            </div>
                            <div class="tumbnail">
                                <a th:href="@{/event/detail(no=${event.no})}"><img id="thumbNail"
                                                                                   th:src="@{/event/files/{path}(path=${event.thumbnail})}"
                                                                                   class="img-thumbnail" alt="이미지가 없습니다."></a>
                            </div>

                            <div class="card-body1 p-1 border-bottom">
                                <p class="card-title" th:text=" ${event.content}"></p>
                            </div>

                            <div class="card-body2 border-bottom">
                                <p class="card-text" th:text="'관리자 :' + ${event.writer.nick}"></p>
                            </div>

                            <div class="card-body3 border-bottom"   data-th-text="${#temporals.format(event.date, 'yy-MM-dd')}">
                            </div>




                            <div class="card-body4 p-1">
                                <a th:href="@{/event/detail(no=${event.no})}" class="btn btn-primary">참여하기</a>
                            </div>


                        </div>
                    </div>
                </div>

            </div>
            <!-------------------------------side--#center로 옮겨야함------------------------>
            <div class="col-3">
                <!-------------------------------구분선-------------------------->

                <div th:replace="/common/sidecard2.html :: fragment-sidecard2"></div>

            </div>

        </div>
    </div>
</div>
</html>