<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>BEBECO</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
        crossorigin="anonymous">

  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  <link href="/css/board/boardstyle.css" rel="stylesheet">

  <!-- jquery -->
  <script src="https://code.jquery.com/jquery-3.6.1.js"
          integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
          crossorigin="anonymous"></script>
  <!-- jquery end-->

</head>
<body>
<!-------------------------------구분선-------------------------->
<div class="b-example-divider"></div>
<!------------------------------header------------------------------>
<div th:replace="/common/header.html :: fragment-header"></div>
<!------------------------------header 마지막------------------------------>

<!-------------------------------구분선-------------------------->
<div class="line-3"></div>
<div class="line-3"></div>
<!------------------------------nav------------------------------>
<div th:replace="/common/nav.html :: fragment-nav"></div>
<!------------------------------nav 마지막------------------------------>

<!-------------------------------구분선-------------------------->
<div class="a-example-divider"></div>

<!-------------------------------구분선-------------------------->
<div class="line-3"></div>

<!-------------------------------hashtag-title-------------------------->
<div id="hashtag">
  <div class="container">
    <!-------------------------------hashtag-title 마지막-------------------------->

    <!------------------------------- 카테고리 -------------------------->

    <select id="mealSelect" onchange="categoryChange()">
      <option value="all">원하는 파티를 선택해주세요</option>
      <option value="점심">점심파티</option>
      <option value="저녁">저녁파티</option>
      <option value="야식">야식파티</option>
      <option value="술">술파티</option>
      <option value="디저트">디저트파티</option>
    </select>

    <select id="foodSelect" onchange="categoryChange2()">
      <option value="all">원하는 종류를 선택해주세요</option>
      <option value="한식">한식</option>
      <option value="분식">분식</option>
      <option value="중식">중식</option>
      <option value="일식">일식</option>
      <option value="양식">양식</option>
      <option value="디저트">디저트</option>
      <option value="패스트푸드">패스트푸드</option>
      <option value="아시안">아시안</option>
      <option value="동남아식">동남아식</option>
    </select>

    <!------------------------------- 카테고리 메뉴 선택 스크립트 -------------------------->
    <script th:inline="javascript">
      let mealValue = [[${meal}]];
      console.log(mealValue);

      let mealOptionLength = $("#mealSelect").find("option").length;
      for(let i = 0; i < mealOptionLength; i++) {
        if($("#mealSelect").find("option").eq(i).val() == mealValue) {
          $("#mealSelect").find("option").eq(i).attr("selected", true);
        }
      }

      let foodValue = [[${food}]]
      console.log(foodValue);

      let foodOptionLength = $("#foodSelect").find("option").length;
      for(let i = 0; i < foodOptionLength; i++) {
        if($("#foodSelect").find("option").eq(i).val() == foodValue) {
          $("#foodSelect").find("option").eq(i).attr("selected", true);
        }
      }
    </script>

    <!------------------------------- 카테고리 필터 스크립트 -------------------------->
    <script th:inline="javascript">
      function categoryChange() {
        let mealSelect = document.getElementById("mealSelect"); // 원하는 meal data를 가져온다
        let mealValue = mealSelect.options[document.getElementById(
            "mealSelect").selectedIndex].value; // 셀렉트된 선택된 값을 가져온다

        console.log(foodValue == null);
        if(foodValue != null) {
          window.location.href = "/party/list?meal=" + mealValue + "&food=" + foodValue;
        } else {
          window.location.href = "/party/list?meal=" + mealValue;
        }
      }

      function categoryChange2() {
        // 2차 카테고리 아이디 값을 가져온다
        let foodSelect = document.getElementById("foodSelect");
        // 그 아이디 값을 가져와서 셀렉트박스(<select id="foodSelect" onchange="categoryChange2()">) 안에서 선택한 option value 값을 가져온다 (예: 중식 선택  -> 중식)
        let foodValue = foodSelect.options[document.getElementById("foodSelect").selectedIndex].value;
        if(foodValue == 'all') {
          window.location.href = "/party/list?meal=" + mealValue;
        } else {
          window.location.href = "/party/list?meal=" + mealValue + "&food=" + foodValue;
        }
      }
      /*       function categoryChange() {
              let mealSelect = document.getElementById("mealSelect"); // 원하는 meal data를 가져온다
              let mealValue = mealSelect.options[document.getElementById(
                  "mealSelect").selectedIndex].value; // 셀렉트된 선택된 값을 가져온다
              window.location.href = "/party/list" + "?meal=" + mealValue; // 그 값을 서버에 넘겨준다 -> 파티컨트롤러로 이동
            }

            function categoryChange2() {
              let url = location.href; // 내 현재 창의 url을 전부 가져온다
              // let urlParam = location.search; // 현재 창의 url 뒤에 붙어있는 파라미터 값을 전부 가져온다

              // 2차 카테고리 아이디 값을 가져온다
              let foodSelect = document.getElementById("foodSelect");

              // 그 아이디 값을 가져와서 셀렉트박스(<select id="foodSelect" onchange="categoryChange2()">) 안에서 선택한 option value 값을 가져온다 (예: 중식 선택  -> 중식)
              let foodValue = foodSelect.options[document.getElementById(
                  "foodSelect").selectedIndex].value;

              // 2차 분류부터 검사 시작
              if (url.includes("food")) { // food 값이 들어있으면

                // 예: url.substring(url.lastIndexOf("&"), length) => 중식 값을 날린 url + 새로 선택한 food 값을 연결
                // lastIndexOf("&"), length) : &부터 url length끝까지
                window.location.href = url.substring(url.lastIndexOf("&"), length) + "&food=" + foodValue;
              } else if (url.includes("meal")) { // food가 선택이 안되어있는 상태 일 때 1차 카테고리 선택 후

                // "/party/list" =>  1차 카테고리 선택 된 상태인  현재의 url 값을 가져온다 + 새로 선택한 food 값을 연결 => 다시 2차 카테고리를 선택하게 되면 if문 2차 분류 검사로 다시 돌아간다
                //window.location.href = "/party/list" + urlParam + "&food=" + foodValue;

                window.location.href = url + "&food=" + foodValue;
              }
            } */
    </script>
    <!------------------------------- 카테고리 스크립트 end -------------------------->

    <!------------------------------- 카테고리 end -------------------------->


    <!---------------- 버튼 ---------------->
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <button type="button" class="btn btn-outline-primary" onclick="location.href='/party/form'; alert('로그인 페이지로 이동합니다.')">파티원 모집하기
      </button>
    </div>
    <!---------------- 버튼 end ---------------->

    <!-------------------------------구분선-------------------------->
    <div class="line-3"></div>

    <!-------------------------------Party_content-------------------------->
    <div id="partycontent">
      <div class="container">
        <div class="row row-cols-1 row-cols-md-4 g-4 text-small">
          <th:block th:each="party : ${parties}">
            <div class="card" style="width: 20rem;" th:fragment="fragment-card">
              <div class="cd-header">
                <div class="line-2"></div>
                <div class="card-head-container">
                  <div class="row">
                    <!--                        <div class="col-5"> 점심파티-->
                    <div class="col-4" th:text="'[' + ${party.meal} + '파티]'"></div>
                    <!--                          <div class="col-4"> 한식-->
                    <div class="col-3" th:text="'[' + ${party.food} + ']'"></div>
                    <!--                      <div class="col-3"> [4/8]-->
                      <div class="col-3" th:text="'[' + ${party.max} + '/' + ${party.limit} + ']'"></div><span data-th-if="${party.max != party.limit}" class="badge text-bg-success col-2">신청가능</span><span data-th-if="${party.max == party.limit}" class="badge text-bg-danger col-2">신청마감</span>
                  </div>
                  <div class="line-2"></div>
                </div>
              </div>

              <div class="tumbnail">
                <!--   th:src="${party.thumbnail} : 썸네일 주소가 담긴다
                       th:src="@{/party/files/{path}(path=${party.thumnail})}"
                              : /party/files/ -> 이미지가 담긴 경로
                              : {path} 변수에 (path=${party.thumnail}) DB에 저장된 첨부파일 uuid로 변환된 이름을 가져온다 -->
                <a th:href="@{detail(no=${party.no})}"><img id="thumbNail"
                                                            th:src="@{/party/files/{path}(path=${party.thumbnail})}"
                                                            class="img-thumbnail" alt="이미지가 없습니다."></a>
              </div>

              <div class="card-body">
                <h5 class="card-title" th:text="${party.title}"></h5>
                <p class="card-text" th:text="${party.writer.nick}">작성자</p>
              </div><!--card-body end-->

              <div class="cd-index bg-light">
                <div class="container">
                  <div class="row justify-content-center">
                    <div class="btn-group" role="group">
                      <button type="button" class="btn btn-outline-primary"
                              th:text="'[' + ${party.age} + '대]'"></button>
                      <button type="button" class="btn btn-outline-primary"
                              th:text="'[' + ${party.gender} + ']'"></button>
<!--                      <button type="button" class="btn btn-outline-primary" th:text="'[' + ${party.time} + '시]'"></button>-->
                      <button type="button" class="btn btn-outline-primary" th:text="'[' + ${#dates.format(party.time, 'HH:mm')} + '분]'"></button>
                    </div>
                  </div>
                </div>
              </div>

              <div class="line-2"></div>

              <!--        버튼모달        -->
              <div class="cd-footer bg-light">
                <div class="container">
                  <div class="row justify-content-center">
                    <!--                    <a class="btn btn-primary xx-join1" data-bs-toggle="modal" href="#exampleModalToggle" role="button" data-th-id="${party.no}">참여하기</a>-->
                    <!-- 세션이 널이 아니면 참여버튼 활성화 // 참여자 멤버 번호가 세션 번호랑 같으면 활성화                   -->
                    <a data-th-if="${session.loginMember != null}" class="btn btn-primary xx-join1" data-bs-toggle="modal" href="#exampleModalToggle" role="button" data-th-id="${party.no}">참여하기</a>
                    <div class="line-2"></div>
                    <a data-th-if="${session.loginMember != null}" class="btn btn-outline-success xx-join3" data-bs-toggle="modal" href="#exampleModalToggle3" role="button" data-th-id="${party.no}" data-th-value="${party.writer.no}">참여자정보</a>
<!--                    <button data-th-if="${session.loginMember != null}" type="button" class="btn btn-outline-success"><a th:href="@{../volunteer/detail(no=${party.no})}">참여자정보</a></button>-->
                  </div>
                </div>
                <div class="line-2"></div>
              </div>

              <div class="modal fade" id="exampleModalToggle" aria-hidden="true"
                   aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalToggleLabel">
                        <div id="party-title"></div>
                      </h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal"
                              aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      [점심파티] ~ 에 참석하시겠습니까?
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                      <button class="btn btn-primary xx-join2" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" data-th-value="true">참석하기</button>
                    </div>
                  </div>
                </div>
              </div>

<!--        파티참석 확인 일단 보류하고 스윗으로     -->
              <!--<div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalToggleLabel2">파티 참석 시</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      이 파티에 참석하셨습니다.
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">확인</button>
                    </div>
                  </div>
                </div>
              </div>-->
              <!--        파티참석 확인 일단 보류하고 스윗으로     -->

              <!-- 참여자정보 모달  -->
              <!-- Modal -->
              <div class="modal fade" id="exampleModalToggle3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel">참여자정보</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <table class="table">
                        <thead>
                        <tr>
                          <th scope="col">참여순번</th>
                          <th scope="col">닉네임</th>
                          <th scope="col">참여시간</th>
                        </tr>
                        </thead>
                        <tbody class="volunteer-detail-list">
                        </tbody>
                      </table>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                      <button type="button" class="btn btn-primary xx-join4" data-th-value="false">파티 나가기</button>
                    </div>
                  </div>
                </div>
              </div>
<!--            <input id="xx-party-out-check2" type="text" data-th-value="${party.writer.no}">-->
            </div><!--card end-->
          </th:block>
        </div>
      </div>
    </div>
  </div>
</div>

    <input id="xx-party-out-check" type="text" data-th-value="${session.loginMember.no}" hidden/>
    <!--        <div th:replace="modal/buttonmodal :: #addbutton"></div>-->

    <!-------------------------------구분선-------------------------->
    <div class="line-3"></div>
    <!-------------------------------페이지-------------------------->
    <!--    <nav aria-label="Page navigation example">-->
    <!--      <ul class="pagination justify-content-center">-->
    <!--        <li class="page-item disabled" th:if="${pageMaker.prev}">-->
    <!--          <a class="page-link"-->
    <!--             th:href="@{list(pageMaker.startPage-1)}" aria-label="Previous">-->
    <!--            <span aria-hidden="true">이전페이지</span>-->
    <!--          </a>-->
    <!--        </li>-->
    <!--        <th:block th:each="pageNum: ${#numbers.sequence(pageMaker.startPage, pageMaker.endPage)}">-->
    <!--          <li class="page-item">-->
    <!--            <a class="page-link" th:href="@{list(page=${pageNum})}"><i th:text="${pageNum}"></i></a>-->
    <!--          </li>-->
    <!--        </th:block>-->
    <!--        <li class="page-item" th:if="${pageMaker.next && pageMaker.endPage >0}">-->
    <!--          <a class="page-link" th:href="@{list(page=${pageMaker.endPage+1})}" aria-label="Next">-->
    <!--            <span aria-hidden="true">다음페이지</span>-->
    <!--          </a>-->
    <!--        </li>-->
    <!--      </ul>-->
    <!--    </nav>-->
    <!-------------------------------페이지 end-------------------------->
    <!-------------------------------구분선-------------------------->
    <div class="line-3"></div>
    <!------------------------------footer------------------------------>
    <footer class="py-3 my-4">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a th:href="@{/}" class="nav-link px-2 text-muted">Home</a>
        </li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a>
        </li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
      </ul>
      <p class="text-center text-muted">© 2022 Chunderella Corp & ThreeAppleteam. All Rights Reserved.</p>
    </footer>

    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/locale/ko.min.js"
            integrity="sha512-3kMAxw/DoCOkS6yQGfQsRY1FWknTEzdiz8DOwWoqf+eGRN45AmjS2Lggql50nCe9Q6m5su5dDZylflBY2YjABQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
      var no = "";

      $('.xx-join1').click(function () {
        no = $(this).attr("id")
        console.log(no);
      });

      // $('.xx-join2').click(function () {
      //   $(this).attr("id", no);
      //   console.log(no)
      // })

      // $('.xx-join2').click(function () {
      //   console.log(no)
      // })

      $('.xx-join2').click(function () {
        let urlNo = no; // jquery : detail?no=78
        let join = $(this).attr('value');
        let data = {"state": join, "urlNo": urlNo};

        $.ajax({
          url: "/volunteer/add",
          type: "POST",
          dataType: "json",
          contentType: "application/json",
          data: JSON.stringify(data),
          success: function (result) {
            if (result == "1") {
              alert("성공");
              location.href = "/party/list?meal=all";
            } else if (result == "2"){
              alert("인원 초과!!");
              // window.location.href = "/auth/loginSave"; // TODO 1. cookie 1번
              // window.location.href = "/auth/loginSave"; // TODO 2. cookie 2번
              // modal.style.display = "none";
            } else if (result == "3") {
              alert("중복참여 불가!!")
            }
          },
          error: function (jpXHR, status, error) {
            alert("작성자 참여 불가!!!! [ " + error + " ]");
            // 로그인 안 했습니다 로그인창으로 이동!!
          }
        });
      }); // xx-join2 마지막

      var writerNo = '';
        $('.xx-join3').click(function () {
          let memberNo = $('#xx-party-out-check').attr('value');
          // <input id="xx-party-out-check" type="text" data-th-value="${session.loginMember.no}" hidden>
          writerNo = $(this).attr('value');
          // <a data-th-if="${session.loginMember != null}" class="btn btn-outline-success xx-join3" data-bs-toggle="modal" href="#exampleModalToggle3" role="button" data-th-id="${party.no}" data-th-value="${party.writer.no}">참여자정보</a>

          no = $(this).attr("id")
          console.log(no)
          let urlNo = no;
          let data = {"urlNo": urlNo};

          $.ajax({
            url: "/volunteer/detail",
            type: "POST",
            dataType: "JSON",
            contentType: "application/json",
            data: JSON.stringify(data),
            success: function (map) {

              console.log(memberNo);
              console.log(writerNo);

              // memberNo(로그인 번호)와 writerNo(게시물 작성자) 번호가 같으면 파티나가기 숨기기, 이유 : 작성자는 신청이 불가능 하기 때문
              if (memberNo == writerNo) {
                $('.xx-join4').hide();
              } else {
                $('.xx-join4').show();
              }

              // console.log('map정보 : '+map);
              var volDetailList = '';
              console.log(map);
              $.each(map, function (key, value) {
                console.log(value)
                for (var i = 0; i < value.length; i++) {
                  console.log(value[i])
                  let date = new Date(value[i].date).toLocaleDateString();
                  // var date2 = moment(date).format('LL');
                  // var dateFormat = moment(new Date(value[i].date)).format('YYYY-MM-DD');
                  volDetailList += "<tr>"
                  volDetailList += "<th scope='row'>" + value[i].fcfs + "</th>"
                  volDetailList += "<td>" + value[i].writer.nick + "</td>"
                  volDetailList += "<td>" + date + "</td>"
                  volDetailList += "</tr>"
                }
              });
              $('.volunteer-detail-list').html(volDetailList);
            },
            error: function (jpXHR, status, error) {
              alert("오류 다시!!!! [ " + error + " ]");
            }
          })
        }); // xx-join3 마지막

      $('.xx-join4').click(function () {
        let urlNo = no;
        let out = $(this).attr("value");
        let memberNo = $('#xx-party-out-check').attr('value');
        let data = {"state": out, "urlNo": urlNo, "memberNo": memberNo};
        console.log(data);

        $.ajax({
          url: "/volunteer/partyOut",
          type: "POST",
          dataType: "json",
          contentType: "application/json",
          data: JSON.stringify(data),
          success: function (partyOut) {
            if (partyOut == "3") {
              alert('파티참여자가 아닙니다');
            } else {
              alert('파티나가기 성공');
              $('#exampleModalToggle3').modal('hide');
              location.href = "/party/list?meal=all";
            }
          },
        })
      }); // xx-join4 마지막
    </script>
</body>
</html>

<!--<!— e.preventDefault() 행위를 막는 —>-->
<!--<!— <tbody data-page-no="1" data-page-size="3" data-max-page-no="5"> —>-->
<!--<!— encodeURIComponent(keyword) —>-->
<!--<!— 이전 또는 다음 최대에 도착하면 버튼 비활성화 태그가 있음 —>-->