<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>EAT-F</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="/css/style1.css">

</head>


<body>
    <nav>
    <header class="page-header wrapper">
    <div class="logo">
    <a href="indexT.html"><img class = "logo" src="/images/logo.jpg" alt="EAT-F 메인페이지"></a></h1>
</div>
    <div class="search-bar">
        <input type="text" placeholder="검색어 입력하세요">
        <a href="#"><img class = "search-img" src="/images/search.png" alt="#none"></a></h1>
      </div>
      
      <ul class="aside-nav">
<!--        <li><a href="회원가입" th:href="@{/register/add}">회원가입</a></li>-->
        <li th:if="${session.loginMember == null}">
          <a href="회원가입" th:href="@{/register/add}">회원가입</a></li>
        <li th:if="${session.loginMember != null}">
          <a href="마이페이지" th:href="@{#}">마이페이지</a></li>
<!--        <li><a href="로그인" th:href="@{/login/login}">로그인</a></li>-->

        <li th:if="${session.loginMember == null}">
          <a href='로그인' th:href="@{/auth/login}">로그인</a></li>
        <li th:if="${session.loginMember != null}">
          <a href="로그아웃" th:href="@{/auth/logout}">로그아웃</a></li>
<!--          <a href="로그아웃" th:href="@{/auth/logout}" th:text="${session.loginMember.name} + '(로그아웃)'">홍길동(로그아웃)</a></li>-->

        <li><a href="#">고객센터</a></li>
        </ul>
    </header> <!--TODO /header, /nav 위치 변경 -->
    </nav>
                <div class="main-menu">
            <ul class="main-menu">
                <li><a href="#">파티게시판</a></li>
                <li><a href="#">피드게시판</a></li>
                <li><a href="#">이벤트게시판</a></li>
                </ul>
            </div>
    <div class="main-banner">
        <div>
            <a href="#none"><img src="/images/mainbanner1.jpg" /></a>
        </div>
    </div>
    </div>
</div>

<h2>파티게시판</h2>

    <th:block th:each="feed : ${feeds}">
<div class="hashtag-button">
    <button type="btn" onclick="" th:text="${feed.title}">점심파티</button>
    <button type="btn" onclick="" th:text="${feed.cont}">점심파티</button>
    <button type="btn" onclick="">점심파티</button>
    <button type="btn" onclick="">점심파티</button>
    <button type="btn" onclick="">점심파티</button>
    <button type="btn" onclick="">점심파티</button>
    <button type="btn" onclick="">점심파티</button>
    <button type="btn" onclick="">점심파티</button>
    <button type="btn" onclick="">점심파티</button>
    <button type="btn" onclick="">점심파티</button>
    <button type="btn" onclick="">점심파티</button>
    <button type="btn" onclick="">점심파티</button>
</div>
    </th:block>
<div container-s1>
<div class="wrapper grid1">
<div class="item big-box">
    <img src="images/c1.JPG" alt="#">
    <p>오늘 타코야키 때릴분</p>
</div>

<div class="item">
    <img src="images/c2.JPG" alt="#">
    <p></p>
</div>

<div class="item">
    <img src="images/c3.jpg" alt="#">
    <p></p>
</div>

    <div class="item">
        <img src="images/c1.JPG" alt="#">
        <p></p>
    </div>

    <div class="item">
        <img src="images/c2.JPG" alt="#">
        <p></p>
    </div>

    <div class="item">
        <img src="images/c3.jpg" alt="#">
        <p></p>
    </div>
        <div class="item">
            <img src="images/c1.JPG" alt="#">
            <p></p>
        </div>

        <div class="item">
            <img src="images/c2.JPG" alt="#">
            <p></p>
        </div>
    </div>
</div>

<h2>피드게시판</h2>
<div container-s2>
    <div class="wrapper grid2">
    <div class="item big-box">
        <img src="images/c1.JPG" alt="#">
        <p>오늘 타코야키 때릴분</p>
    </div>
    
    <div class="item">
        <img src="images/c2.JPG" alt="#">
        <p></p>
    </div>
    
    <div class="item">
        <img src="images/c3.JPG" alt="#">
        <p></p>
    </div>
    
        <div class="item">
            <img src="images/c1.JPG" alt="#">
            <p></p>
        </div>
    
        <div class="item">
            <img src="images/c2.JPG" alt="#">
            <p></p>
        </div>
    
        <div class="item">
            <img src="images/c3.JPG" alt="#">
            <p></p>
        </div>
            <div class="item">
                <img src="images/c1.JPG" alt="#">
                <p></p>
            </div>
    
            <div class="item">
                <img src="images/c2.JPG" alt="#">
                <p></p>
            </div>
        </div>
    </div>
    <h2>이벤트게시판</h2>
    <div container-s3>
        <div class="wrapper grid3">
        <div class="item big-box">
            <img src="images/c1.JPG" alt="#">
            <p>오늘 타코야키 때릴분</p>
        </div>
        
        <div class="item">
            <img src="images/c2.JPG" alt="#">
            <p></p>
        </div>
        
        <div class="item">
            <img src="images/c3.JPG" alt="#">
            <p></p>
        </div>
        
            <div class="item">
                <img src="images/c1.JPG" alt="#">
                <p></p>
            </div>
        
            <div class="item">
                <img src="images/c2.JPG" alt="#">
                <p></p>
            </div>
        
            <div class="item">
                <img src="images/c3.JPG" alt="#">
                <p></p>
            </div>
                <div class="item">
                    <img src="images/c1.JPG" alt="#">
                    <p></p>
                </div>
        
                <div class="item">
                    <img src="images/c2.JPG" alt="#">
                    <p></p>
                </div>
            </div>
        </div>

</body>
</html>