<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>BEBECO</title>
<style>
tr:hover {
  background-color: navy;
  color: white;
}
</style>
</head>
<body>
<h1>회원</h1>

<a href='form'>새 회원</a>
<table border='1'>
  <tr>
    <th>번호</th>
    <th>이름</th>
    <th>이메일</th>
  </tr>
  
  <tr th:each="member : ${members}">
    <td th:text="${member.no}">회원번호</td>
    <td>
      <a href='detail?no=1'
        th:href="@{detail(no=${member.no})}"
        th:text="${member.name}">회원이름</a>
    </td>
    <td th:text="${member.id}">회원이메일</td>
  </tr>
    
</table>
<p><a href='/'>메인</a></p>
</body>
</html>



    